@use './variables' as v;

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: v.$font-family;
  font-size: v.$font-size;
}

h1,
h2,
h3 {
  margin: 0;
  color: v.$purple-950;
}
