// Tipografía.
$font-family: 'Work Sans', sans-serif;
$font-size: 1.6rem;

// Colores.
$white: hsl(0deg 100% 100%);
$purple-100: hsl(275deg 100% 97%);
$purple-600: hsl(292deg 16% 49%);
$purple-950: hsl(292deg 42% 14%);

// Dispositivos.
$mobile: 375px;
$desktop: 1440px;
