@use 'sass:color';
@use '../base/variables' as v;

body {
  min-height: 100vh;
  background-color: v.$purple-100;
}

.bg {
  height: 30rem;
  background: url('../../assets/img/background-pattern-mobile.svg') no-repeat left bottom / cover;

  @media (min-width: v.$desktop) {
    background-image: url('../../assets/img/background-pattern-desktop.svg');
  }
}

.faqs {
  width: 90%;
  max-width: 55rem;
  padding: 3rem;
  margin: -8rem auto 5rem;
  background: v.$white;
  border-radius: 1rem;

  &__header {
    display: flex;
    gap: 2rem;
  }

  &__icon {
    width: 2.5rem;
  }

  &__title {
    font-size: clamp(3.2rem, 5vw, 4rem);
    font-weight: 900;
  }

  &__item {
    padding: 1.5rem 0;

    &:not(:last-child) {
      border-bottom: 1px solid #e1e1e1;
    }
  }

  &__question {
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font: inherit;
    font-weight: 600;
    line-height: 1.4;
    color: v.$purple-950;
    text-align: left;
    background: none;
    border: none;
    transition: 200ms ease-in-out;

    &:hover {
      color: color.adjust(v.$purple-600, $saturation: 50%);
      cursor: pointer;
    }
  }

  &__answer {
    display: none;
    padding-top: 2rem;
    line-height: 1.6;
    color: v.$purple-600;

    &.active {
      display: block;
    }
  }
}
